Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, frontend-code-quality

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: backend-code-quality
        name: "backend: code quality"
        entry: task backend:lint:fix backend:format
        language: system
        pass_filenames: false
        files: ^backend/

      - id: frontend-code-quality
        name: "frontend: code quality"
        entry: task frontend:check
        language: system
        pass_filenames: false
        files: ^frontend/

Remove needles line
  README.md
Due: none

Fix wrong url
  README.md
Due: none

Improve general readme
  README.md
Due: none

Improve more
  README.md
Due: none

More improvement
  README.md
Due: none

Remove needless
  README.md
Due: none

More
  frontend/README.md
Due: frontend-code-quality

chore: improve and standardize readmes (#30)
  README.md
  backend/README.md
  frontend/README.md
Due: backend-code-quality, frontend-code-quality

Add versions properly
  README.md
Due: none

Tweak
  README.md
Due: none

More tweaks
  README.md
Due: none

chore: minor readme tweaks (#31)
  README.md
Due: none

Track graphql schema
  frontend/.gitignore
Due: frontend-code-quality

Add graphql schema
  frontend/schema/schema.graphql
Due: frontend-code-quality

Add graphql schema check
  .github/workflows/ci.yml
Due: none

Simplify task
  Taskfile.yml
Due: none

Use schema
  frontend/codegen.yml
Due: frontend-code-quality

Remove annoying error
  frontend/codegen.schema.json
  frontend/codegen.yml
Due: frontend-code-quality

Add pre-build
  frontend/package.json
Due: frontend-code-quality

Simplify error message
  .github/workflows/ci.yml
Due: none

Simplify ci
  .github/workflows/ci.yml
Due: none

feat: deploy frontend using vercel (#32)
  .github/workflows/ci.yml
  Taskfile.yml
  frontend/.gitignore
  frontend/codegen.schema.json
  frontend/codegen.yml
  frontend/package.json
  frontend/schema/schema.graphql
Due: frontend-code-quality

Minor changes to fix deployment
  frontend/.env.local.example
  frontend/src/app/page.tsx
  frontend/src/lib/apolloClient.server.ts
  frontend/src/lib/apolloClient.ts
Due: frontend-code-quality

Update readme for deployment
  README.md
  docs/deployment.md
Due: none

Minor tweak
  README.md
Due: none

Remove extra details
  README.md
Due: none

Sort technologies
  docs/deployment.md
Due: none

docs: Update readme for deployment (#33)
  README.md
  docs/deployment.md
Due: none

docs: Update production deployment details
  README.md
  docs/deployment.md
Due: none

Improve implementation of service and repository
  backend/src/backend/apps/users/services.py
Due: backend-code-quality

Remove needless import
  backend/src/backend/graphql/controller.py
Due: backend-code-quality

Minor improvement
  backend/src/backend/graphql/controller.py
  backend/tests/conftest.py
  backend/tests/test_admin_smoke.py
Due: backend-code-quality

Remove cast
  backend/tests/test_admin_smoke.py
Due: backend-code-quality

Simplify logic
  backend/src/backend/app_factory.py
  backend/src/backend/graphql/controller.py
Due: backend-code-quality

Install msgspec
  backend/pyproject.toml
  backend/uv.lock
Due: backend-code-quality

Replace pydantic with msgspec
  backend/src/backend/health.py
Due: backend-code-quality

Minor improvements
  backend/src/backend/health.py
Due: backend-code-quality

Remove needless comment
  backend/src/backend/config/alchemy.py
Due: backend-code-quality

Add task to autogenerate migrations
  Taskfile.yml
  backend/Taskfile.yml
Due: backend-code-quality

Implement rule when creating an entity
  .cursor/rules/backend-entity/RULE.md
Due: none
