Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, frontend-code-quality

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: backend-code-quality
        name: "backend: code quality"
        entry: task backend:lint:fix backend:format
        language: system
        pass_filenames: false
        files: ^backend/

      - id: frontend-code-quality
        name: "frontend: code quality"
        entry: task frontend:check
        language: system
        pass_filenames: false
        files: ^frontend/

REST integration
  backend/src/backend/application.py
  backend/src/backend/apps/users/auth.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/rest.py
  backend/src/backend/auth/jwt.py
  backend/tests/apps/users/rest/__init__.py
  backend/tests/apps/users/rest/test_endpoints.py
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/features/auth/LoginForm.tsx
  frontend/src/features/auth/RegisterForm.tsx
  frontend/src/features/users/CurrentUserCard.client.tsx
  frontend/src/lib/dataSource.ts
  frontend/src/lib/restClient.ts
Due: backend-code-quality, frontend-code-quality

Rename properly
  backend/src/backend/application.py
  backend/src/backend/apps/users/controllers.py
Due: backend-code-quality

Simpler
  backend/src/backend/application.py
  backend/src/backend/apps/users/controllers.py
  backend/src/backend/auth/jwt.py
  backend/tests/apps/users/rest/test_endpoints.py
  backend/tests/test_jwt_auth.py
Due: backend-code-quality

Add more testing
  backend/tests/apps/users/rest/test_endpoints.py
Due: backend-code-quality

Simplify testing
  backend/tests/apps/users/rest/test_endpoints.py
Due: backend-code-quality

more testing
  backend/tests/apps/users/rest/test_endpoints.py
Due: backend-code-quality

feat: REST integration (#62)
  backend/src/backend/application.py
  backend/src/backend/apps/users/auth.py
  backend/src/backend/apps/users/controllers.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/auth/jwt.py
  backend/tests/apps/users/rest/__init__.py
  backend/tests/apps/users/rest/test_endpoints.py
  backend/tests/test_jwt_auth.py
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/features/auth/LoginForm.tsx
  frontend/src/features/auth/RegisterForm.tsx
  frontend/src/features/users/CurrentUserCard.client.tsx
  frontend/src/lib/dataSource.ts
  frontend/src/lib/restClient.ts
Due: backend-code-quality, frontend-code-quality

Improve docs
  .cursor/rules/backend-boundary/RULE.md
  README.md
Due: none

Update README
  README.md
Due: none

docs: update documentation to support REST (#67)
  .cursor/rules/backend-boundary/RULE.md
  README.md
Due: none

Add pagination for users
  backend/src/backend/apps/users/graphql/queries.py
  backend/tests/apps/users/graphql/test_queries.py
  backend/tests/conftest.py
Due: backend-code-quality

Fix issues
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/apps/users/graphql/types.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/tests/apps/users/graphql/test_queries.py
Due: backend-code-quality

Regenerate schema
  frontend/schema/schema.graphql
Due: frontend-code-quality

Fix Admin issue
  backend/src/backend/middleware/rate_limit.py
Due: backend-code-quality

Fix admin issue
  backend/src/backend/middleware/rate_limit.py
Due: backend-code-quality

Fix admin issue (#69)
  backend/src/backend/middleware/rate_limit.py
Due: backend-code-quality

Fix
  backend/src/backend/apps/users/graphql/errors.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/apps/users/graphql/types.py
  backend/src/backend/graphql/schema.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/tests/apps/users/graphql/test_pagination.py
  backend/tests/apps/users/graphql/test_queries.py
Due: backend-code-quality

Export schema
  frontend/schema/schema.graphql
Due: frontend-code-quality

Update info
  .cursor/rules/graphql-contract/RULE.md
  backend/src/backend/apps/users/graphql/queries.py
  backend/tests/apps/users/graphql/test_queries.py
  backend/tests/test_security.py
  frontend/schema/schema.graphql
  frontend/src/features/users/GetUserById.graphql
  frontend/src/features/users/UserCard.client.tsx
  frontend/src/features/users/UserCard.test.tsx
Due: backend-code-quality, frontend-code-quality

Update docs
  .cursor/rules/backend-entity/RULE.md
  .cursor/rules/python/RULE.md
  .cursor/rules/typescript/RULE.md
Due: none

feat: Implement pagination for GraphQL (#70)
  .cursor/rules/backend-entity/RULE.md
  .cursor/rules/graphql-contract/RULE.md
  .cursor/rules/python/RULE.md
  .cursor/rules/typescript/RULE.md
  backend/src/backend/apps/users/graphql/errors.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/apps/users/graphql/types.py
  backend/src/backend/graphql/schema.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/tests/apps/users/graphql/test_pagination.py
  backend/tests/apps/users/graphql/test_queries.py
  backend/tests/test_security.py
  frontend/schema/schema.graphql
  frontend/src/features/users/GetUserById.graphql
  frontend/src/features/users/UserCard.client.tsx
  frontend/src/features/users/UserCard.test.tsx
Due: backend-code-quality, frontend-code-quality

Implement paginatino
  backend/src/backend/api/pagination.py
  backend/src/backend/apps/users/controllers.py
  backend/src/backend/apps/users/pagination.py
  backend/src/backend/apps/users/schemas.py
  backend/tests/apps/users/rest/test_endpoints.py
Due: backend-code-quality

Auth
  backend/src/backend/apps/users/graphql/queries.py
Due: backend-code-quality

Improve pagination
  backend/src/backend/api/pagination.py
  backend/src/backend/apps/users/controllers.py
  backend/tests/apps/users/rest/test_endpoints.py
Due: backend-code-quality

Improve rest
  backend/src/backend/api/pagination.py
  backend/src/backend/apps/users/pagination.py
  backend/tests/apps/users/rest/test_endpoints.py
Due: backend-code-quality

Add docs
  .cursor/rules/backend-boundary/RULE.md
  .cursor/rules/backend-entity/RULE.md
  .cursor/rules/python/RULE.md
Due: none

feat: add pagination for rest (#71)
  .cursor/rules/backend-boundary/RULE.md
  .cursor/rules/backend-entity/RULE.md
  .cursor/rules/python/RULE.md
  backend/src/backend/api/pagination.py
  backend/src/backend/apps/users/controllers.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/apps/users/pagination.py
  backend/src/backend/apps/users/schemas.py
  backend/tests/apps/users/rest/test_endpoints.py
Due: backend-code-quality

UI
  backend/src/backend/apps/users/controllers.py
  backend/src/backend/apps/users/graphql/queries.py
  frontend/schema/schema.graphql
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/features/users/GetLatestUsers.graphql
  frontend/src/features/users/LatestUsersCard.client.tsx
  frontend/src/lib/restClient.ts
Due: backend-code-quality, frontend-code-quality

Improve pagination
  backend/src/backend/apps/users/controllers.py
  backend/src/backend/apps/users/graphql/queries.py
  frontend/schema/schema.graphql
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/features/users/GetLatestUsers.graphql
  frontend/src/features/users/GetUsersPage.graphql
  frontend/src/features/users/LatestUsersCard.client.tsx
  frontend/src/features/users/UsersPaginationCard.client.tsx
  frontend/src/lib/restClient.ts
Due: backend-code-quality, frontend-code-quality

Improve UI
  frontend/src/app/page.tsx
  frontend/src/features/users/UsersPaginationCard.client.tsx
Due: frontend-code-quality

Update UI
  frontend/src/features/users/UsersPaginationCard.client.tsx
Due: frontend-code-quality

Fix broken test
  backend/src/backend/apps/users/graphql/queries.py
Due: backend-code-quality

feat: improve UI to use pagination (#72)
  backend/src/backend/apps/users/graphql/queries.py
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/features/users/GetUsersPage.graphql
  frontend/src/features/users/UsersPaginationCard.client.tsx
  frontend/src/lib/restClient.ts
Due: backend-code-quality, frontend-code-quality

Fix
  backend/src/backend/apps/users/controllers.py
  backend/tests/apps/users/rest/test_endpoints.py
Due: backend-code-quality

Fix permission issue (#73)
  backend/src/backend/apps/users/controllers.py
  backend/tests/apps/users/rest/test_endpoints.py
Due: backend-code-quality

Install brotli extras
  backend/pyproject.toml
  backend/uv.lock
Due: backend-code-quality

Config compression
  backend/src/backend/application.py
Due: backend-code-quality

feat: integrate brotli (#74)
  backend/pyproject.toml
  backend/src/backend/application.py
  backend/uv.lock
Due: backend-code-quality

Implement worker
  .env.example
  Taskfile.yml
  backend/.env.example
  backend/Taskfile.yml
  backend/pyproject.toml
  backend/src/backend/admin/views/user.py
  backend/src/backend/apps/users/tasks.py
  backend/src/backend/celery_app.py
  backend/src/backend/config/base.py
  backend/tests/apps/users/test_tasks.py
  backend/uv.lock
  compose.yaml
Due: backend-code-quality

Update task files
  Taskfile.yml
  setup.sh
Due: none
