Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, backend-typecheck, frontend-code-quality, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        language_version: system
  - repo: local
    hooks:
      - id: backend-code-quality
        name: "backend: code quality"
        entry: task backend:check
        language: system
        pass_filenames: false
        files: ^backend/

      - id: backend-typecheck
        name: "backend: type check"
        entry: task backend:typecheck
        language: system
        pass_filenames: false
        files: ^backend/

      - id: frontend-code-quality
        name: "frontend: code quality"
        entry: task frontend:check
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: frontend-typecheck
        name: "frontend: type check"
        entry: task frontend:check:types
        language: system
        pass_filenames: false
        files: ^frontend/

feat(skills): add async python patterns skill
  .agents/skills/async-python-patterns/SKILL.md
Due: none

chore(skills): move web design guidelines to .agents
  .agents/skills/web-design-guidelines/SKILL.md
Due: none

Add root AGENTS instructions for Taskfile commands
  AGENTS.md
Due: none

Move SwiftUI skill to .agents skills directory
  .agents/skills/swiftui-expert-skill/SKILL.md
  .agents/skills/swiftui-expert-skill/references/animation-advanced.md
  .agents/skills/swiftui-expert-skill/references/animation-basics.md
  .agents/skills/swiftui-expert-skill/references/animation-transitions.md
  .agents/skills/swiftui-expert-skill/references/image-optimization.md
  .agents/skills/swiftui-expert-skill/references/layout-best-practices.md
  .agents/skills/swiftui-expert-skill/references/liquid-glass.md
  .agents/skills/swiftui-expert-skill/references/list-patterns.md
  .agents/skills/swiftui-expert-skill/references/modern-apis.md
  .agents/skills/swiftui-expert-skill/references/performance-patterns.md
  .agents/skills/swiftui-expert-skill/references/scroll-patterns.md
  .agents/skills/swiftui-expert-skill/references/sheet-navigation-patterns.md
  .agents/skills/swiftui-expert-skill/references/state-management.md
  .agents/skills/swiftui-expert-skill/references/text-formatting.md
  .agents/skills/swiftui-expert-skill/references/view-structure.md
  .github/skills/ios-swiftui/SKILL.md
Due: none

Move SwiftUI skill to .agents and add AGENTS guidance (#161)
  .agents/skills/swiftui-expert-skill/SKILL.md
  .agents/skills/swiftui-expert-skill/references/animation-advanced.md
  .agents/skills/swiftui-expert-skill/references/animation-basics.md
  .agents/skills/swiftui-expert-skill/references/animation-transitions.md
  .agents/skills/swiftui-expert-skill/references/image-optimization.md
  .agents/skills/swiftui-expert-skill/references/layout-best-practices.md
  .agents/skills/swiftui-expert-skill/references/liquid-glass.md
  .agents/skills/swiftui-expert-skill/references/list-patterns.md
  .agents/skills/swiftui-expert-skill/references/modern-apis.md
  .agents/skills/swiftui-expert-skill/references/performance-patterns.md
  .agents/skills/swiftui-expert-skill/references/scroll-patterns.md
  .agents/skills/swiftui-expert-skill/references/sheet-navigation-patterns.md
  .agents/skills/swiftui-expert-skill/references/state-management.md
  .agents/skills/swiftui-expert-skill/references/text-formatting.md
  .agents/skills/swiftui-expert-skill/references/view-structure.md
  .github/skills/ios-swiftui/SKILL.md
  AGENTS.md
Due: none

NOVA-127: adopt hybrid AI instruction architecture
  .vscode/settings.json
  AGENTS.md
  README.md
  backend/AGENTS.md
Due: backend-code-quality, backend-typecheck

NOVA-127: add frontend and ios AGENTS delegators
  AGENTS.md
  README.md
  frontend/AGENTS.md
  ios/AGENTS.md
Due: frontend-code-quality, frontend-typecheck

NOVA-127: standardize PR workflow via Taskfile tasks
  .github/prompts/pr-creation.prompt.md
  AGENTS.md
  Taskfile.yml
Due: none

NOVA-127: enforce semantic PR titles in PR workflow
  .github/prompts/pr-creation.prompt.md
  Taskfile.yml
Due: none

feat: adopt hybrid AI instruction architecture (#162)
  .github/prompts/pr-creation.prompt.md
  .vscode/settings.json
  AGENTS.md
  README.md
  Taskfile.yml
  backend/AGENTS.md
  frontend/AGENTS.md
  ios/AGENTS.md
Due: backend-code-quality, backend-typecheck, frontend-code-quality, frontend-typecheck

'chore: remove prune prompt wrappers'
  .github/copilot-instructions.md
  .github/prompts/prune-no-graphql.prompt.md
  .github/prompts/prune-no-ios.prompt.md
  .github/prompts/prune-no-rest.prompt.md
  .github/prompts/prune-rest-only.prompt.md
Due: none

'chore(backend): bump litestar minimum to 2.21.0'
  backend/pyproject.toml
  backend/uv.lock
Due: backend-code-quality, backend-typecheck

chore-prompts-require-pypi-latest-checks
  .github/prompts/install-backend-dependency.prompt.md
  .github/prompts/update-backend-dependency.prompt.md
Due: none

chore(backend): bump litestar minimum to 2.21.0 (#164)
  .github/prompts/install-backend-dependency.prompt.md
  .github/prompts/update-backend-dependency.prompt.md
  backend/pyproject.toml
  backend/uv.lock
Due: backend-code-quality, backend-typecheck

'fix: split template-prune dependency remove args'
  scripts/template-prune/profiles/no-graphql.sh
  scripts/template-prune/profiles/rest-only.sh
Due: none

'fix: split template-prune dependency remove args' (#165)
  scripts/template-prune/profiles/no-graphql.sh
  scripts/template-prune/profiles/rest-only.sh
Due: none

'fix: align rest-only prune with backend test/typecheck expectations'
  scripts/template-prune/profiles/rest-only.sh
  scripts/template-prune/templates/no-graphql/backend/tests/middleware/test_rate_limit.py
  scripts/template-prune/templates/rest-only/backend/tests/conftest.py
Due: none

'fix: make no-graphql rate-limit tests deterministic'
  scripts/template-prune/templates/no-graphql/backend/tests/conftest.py
  scripts/template-prune/templates/no-graphql/backend/tests/middleware/test_rate_limit.py
Due: none

fix: strip outer quotes from task git commit messages
  Taskfile.yml
  scripts/template-prune/templates/rest-only/Taskfile.yml
Due: none

fix: stabilize template-prune profile validation in fresh clones
  frontend/__tests__/setup.tsx
  scripts/template-prune/templates/no-graphql/frontend/__tests__/setup.tsx
  scripts/template-prune/validate.sh
Due: frontend-code-quality, frontend-typecheck

fix: rewrite rest-only backend tests for graphql removal (#166)
  Taskfile.yml
  frontend/__tests__/setup.tsx
  scripts/template-prune/profiles/rest-only.sh
  scripts/template-prune/templates/no-graphql/backend/tests/middleware/test_rate_limit.py
  scripts/template-prune/templates/no-graphql/frontend/__tests__/setup.tsx
  scripts/template-prune/templates/rest-only/Taskfile.yml
  scripts/template-prune/templates/rest-only/backend/tests/conftest.py
  scripts/template-prune/validate.sh
Due: frontend-code-quality, frontend-typecheck

fix: guard setup frontend tasks for pruned profiles
  setup.sh
Due: none

fix: guard setup frontend tasks for pruned profiles (#167)
  setup.sh
Due: none

fix: normalize markdown spacing in prune profile outputs
  scripts/template-prune/profiles/no-ios.sh
  scripts/template-prune/profiles/no-rest.sh
Due: none

fix: make no-graphql CI and docs pruning output valid
  scripts/template-prune/profiles/no-graphql.sh
Due: none

fix: keep prune-generated CI and docs output valid (#168)
  scripts/template-prune/profiles/no-graphql.sh
  scripts/template-prune/profiles/no-ios.sh
  scripts/template-prune/profiles/no-rest.sh
Due: none

fix: handle stale REST auth and sync session state
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/lib/restClient.ts
  scripts/template-prune/templates/no-graphql/frontend/src/app/page.tsx
  scripts/template-prune/templates/no-graphql/frontend/src/app/profile/page.tsx
  scripts/template-prune/templates/no-graphql/frontend/src/lib/restClient.ts
Due: frontend-code-quality, frontend-typecheck

fix: handle stale REST auth and sync session state (#169)
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/lib/restClient.ts
  scripts/template-prune/templates/no-graphql/frontend/src/app/page.tsx
  scripts/template-prune/templates/no-graphql/frontend/src/app/profile/page.tsx
  scripts/template-prune/templates/no-graphql/frontend/src/lib/restClient.ts
Due: frontend-code-quality, frontend-typecheck

chore: add frontend dependency prompts
  .github/prompts/install-frontend-dependency.prompt.md
  .github/prompts/update-frontend-dependency.prompt.md
Due: none

chore: bump playwright and align ci image
  .github/workflows/ci.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-code-quality, frontend-typecheck

chore: clarify command policy in agents
  AGENTS.md
Due: none

chore: add frontend dependency prompts and bump playwright (#176)
  .github/prompts/install-frontend-dependency.prompt.md
  .github/prompts/update-frontend-dependency.prompt.md
  .github/workflows/ci.yml
  AGENTS.md
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-code-quality, frontend-typecheck

chore(task): split template tasks into separate taskfile
  Taskfile.template.yml
  Taskfile.yml
Due: none

chore(task): remove git helper tasks from root taskfile
  Taskfile.yml
Due: none

chore(task): remove git helper tasks from rest-only template
  scripts/template-prune/templates/rest-only/Taskfile.yml
Due: none

feat(template-prune): remove swiftlint hooks for no-ios profile
  scripts/template-prune/profiles/no-ios.sh
  scripts/template-prune/validate.sh
Due: none
