Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, frontend-code-quality

backend-code-quality:
  name: 'backend: code quality'
  entry: task backend:lint:fix backend:format
  language: system
  pass_filenames: false

frontend-code-quality:
  name: 'frontend: code quality'
  entry: task frontend:check
  language: system
  pass_filenames: false

Restor task
  Taskfile.yml
Due: none

Update tasks
  Taskfile.yml
  setup.sh
Due: none

Ignore some files
  backend/.gitignore
Due: backend-code-quality

Fix ratelimite
  backend/src/backend/admin/app.py
  backend/src/backend/application.py
  backend/src/backend/middleware/rate_limit.py
Due: backend-code-quality

Simplify it
  backend/src/backend/admin/views/user.py
  backend/src/backend/apps/users/tasks.py
Due: backend-code-quality

Fix issue with connection
  backend/src/backend/apps/users/tasks.py
Due: backend-code-quality

Scale
  backend/src/backend/apps/users/tasks.py
  backend/src/backend/celery_app.py
  backend/tests/apps/users/test_tasks.py
Due: backend-code-quality

Add tasks
  .vscode/tasks.json
  Taskfile.yml
Due: none

Update info
  Taskfile.yml
  setup.sh
Due: none

Update README and add rule
  .cursor/rules/backend-async-tasks/RULE.md
  README.md
Due: none

Add worker documentation
  README.md
Due: none

Update README
  README.md
Due: none

Update
  README.md
Due: none

Sort variables
  backend/.env.example
Due: backend-code-quality

Remove needless variables
  backend/.env.example
Due: backend-code-quality

Restore config
  backend/.env.example
Due: backend-code-quality

Remove needless variable
  .env.example
Due: none

Minor improvement
  backend/.env.example
  backend/src/backend/apps/users/tasks.py
  backend/src/backend/config/base.py
Due: backend-code-quality

Remove needless comment
  backend/src/backend/apps/users/tasks.py
Due: backend-code-quality

Refactdor
  backend/src/backend/apps/users/tasks.py
  backend/tests/apps/users/test_tasks.py
Due: backend-code-quality

simplify
  backend/src/backend/apps/users/tasks.py
Due: backend-code-quality

improve
  .cursor/rules/backend-async-tasks/RULE.md
  backend/src/backend/apps/users/tasks.py
  backend/src/backend/celery_app.py
  backend/src/backend/config/base.py
Due: backend-code-quality

Fix ci
  .github/workflows/ci.yml
Due: none

feat: Implement worker (#75)
  .cursor/rules/backend-async-tasks/RULE.md
  .github/workflows/ci.yml
  .vscode/tasks.json
  README.md
  Taskfile.yml
  backend/.env.example
  backend/.gitignore
  backend/Taskfile.yml
  backend/pyproject.toml
  backend/src/backend/admin/app.py
  backend/src/backend/admin/views/user.py
  backend/src/backend/application.py
  backend/src/backend/apps/users/tasks.py
  backend/src/backend/celery_app.py
  backend/src/backend/config/base.py
  backend/src/backend/middleware/rate_limit.py
  backend/tests/apps/users/test_tasks.py
  backend/uv.lock
  compose.yaml
  setup.sh
Due: backend-code-quality

Add Codex to recommended extensions
  .vscode/extensions.json
Due: none

Change rule structure
  .rules/backend-async-tasks.md
  .rules/backend-boundary.md
  .rules/backend-entity.md
  .rules/frontend-boundary.md
  .rules/graphql-contract.md
  .rules/guardrails.md
  .rules/python.md
  .rules/typescript.md
  .rules/workflow-taskfile.md
Due: none

Restructure rules
  .gitignore
  .rules/backend-async-tasks.md
  .rules/backend-boundary.md
  .rules/backend-entity.md
  .rules/frontend-boundary.md
  .rules/graphql-contract.md
  .rules/guardrails.md
  .rules/python.md
  .rules/typescript.md
  .rules/workflow-taskfile.md
  scripts/generate_rules.sh
  setup.sh
Due: none

Improve script organization
  scripts/generate_python_env.sh
  setup.sh
Due: none

Add docs for rules
  docs/rules.md
Due: none

Improve
  docs/rules.md
Due: none

feat: support agents for cursor and antigravity (#76)
  .gitignore
  .rules/backend-async-tasks.md
  .rules/backend-boundary.md
  .rules/backend-entity.md
  .rules/frontend-boundary.md
  .rules/graphql-contract.md
  .rules/guardrails.md
  .rules/python.md
  .rules/typescript.md
  .rules/workflow-taskfile.md
  .vscode/extensions.json
  README.md
  docs/rules.md
  scripts/generate_python_env.sh
  scripts/generate_rules.sh
  setup.sh
Due: none

Create icon
  frontend/public/icon-192x192.png
  frontend/public/icon-512x512.png
Due: frontend-code-quality

Replace vercel icon
  frontend/src/app/favicon.ico
  frontend/src/app/layout.tsx
Due: frontend-code-quality

Regenerate icons
  frontend/public/icon-192x192.png
  frontend/public/icon-512x512.png
Due: frontend-code-quality

Update biome vesion in config
  frontend/biome.json
Due: frontend-code-quality

Remove emoji from metadata
  frontend/src/app/layout.tsx
Due: frontend-code-quality

Fix broken tests
  frontend/e2e/home.spec.ts
Due: frontend-code-quality

feat: create favicon (#81)
  frontend/biome.json
  frontend/e2e/home.spec.ts
  frontend/public/icon-192x192.png
  frontend/public/icon-512x512.png
  frontend/src/app/favicon.ico
  frontend/src/app/layout.tsx
Due: frontend-code-quality

Path conditions:
  backend-code-quality: any of: ^backend/
  frontend-code-quality: any of: ^frontend/
