Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, frontend-code-quality

backend-code-quality:
  name: 'backend: code quality'
  entry: task backend:lint:fix backend:format
  language: system
  pass_filenames: false

frontend-code-quality:
  name: 'frontend: code quality'
  entry: task frontend:check
  language: system
  pass_filenames: false

Fix broken ci
  .github/workflows/ci.yml
Due: none

Restore
  backend/src/backend/config/base.py
Due: backend-code-quality

Simplify
  backend/src/backend/application.py
Due: backend-code-quality

Update rule
  .cursor/rules/typescript/RULE.md
Due: none

Document structure
  .cursor/rules/typescript/RULE.md
Due: none

Update target
  frontend/tsconfig.json
Due: frontend-code-quality

Add new rule
  frontend/tsconfig.json
Due: frontend-code-quality

chore: improve ts configuration (#45)
  frontend/tsconfig.json
Due: frontend-code-quality

Follow structure for storybook given in article
  .cursor/rules/typescript/RULE.md
  frontend/.storybook/vitest.setup.ts
  frontend/src/features/users/UserCard.stories.tsx
  frontend/src/features/users/UserCreator.stories.tsx
Due: frontend-code-quality

Improve stories
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/src/features/users/UserCard.stories.tsx
  frontend/src/features/users/UserCreator.stories.tsx
Due: frontend-code-quality

New home page frontend (first attempt)
  frontend/e2e/home.spec.ts
  frontend/src/app/layout.tsx
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
Due: frontend-code-quality

Remove tailwind warning
  frontend/src/app/page.tsx
Due: frontend-code-quality

Home page improvement (second attempt)
  frontend/e2e/home.spec.ts
  frontend/src/app/page.tsx
Due: frontend-code-quality

Improve UI
  frontend/e2e/home.spec.ts
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Due: frontend-code-quality

UI improvement (third attempt.. maybe)
  frontend/e2e/home.spec.ts
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
Due: frontend-code-quality

Improvement
  frontend/src/app/page.tsx
Due: frontend-code-quality

Remove lable
  frontend/src/app/page.tsx
Due: frontend-code-quality

More removals
  frontend/src/app/page.tsx
Due: frontend-code-quality

Improve tooling
  frontend/e2e/home.spec.ts
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
Due: frontend-code-quality

Improve UI (fourth attempt)
  frontend/src/app/page.tsx
Due: frontend-code-quality

Improve UI (fifth attempt)
  frontend/src/app/page.tsx
Due: frontend-code-quality

Improve UI (sixth attempt)
  frontend/e2e/home.spec.ts
  frontend/src/app/page.tsx
Due: frontend-code-quality

More improvements
  frontend/src/app/page.tsx
Due: frontend-code-quality

Perhaps last attempt for nwo
  frontend/src/app/page.tsx
Due: frontend-code-quality

feat: improve storybook configuration and update UI home page (#46)
  .cursor/rules/typescript/RULE.md
  frontend/.storybook/vitest.setup.ts
  frontend/e2e/home.spec.ts
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/features/users/UserCard.stories.tsx
  frontend/src/features/users/UserCreator.stories.tsx
Due: frontend-code-quality

Add command to check for backend
  .pre-commit-config.yaml
  Taskfile.yml
  backend/Taskfile.yml
Due: backend-code-quality

Remove needless rule exclusion
  backend/pyproject.toml
  backend/src/backend/__init__.py
  backend/src/backend/apps/users/graphql/__init__.py
Due: backend-code-quality

Improve rule
  .cursor/rules/python/RULE.md
Due: none

Improve configuration of ruff
  backend/pyproject.toml
  backend/src/backend/admin/auth.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/scripts/create_admin_user.py
  backend/tests/conftest.py
Due: backend-code-quality

Improvements by Gemini
  backend/migrations/env.py
  backend/pyproject.toml
  backend/src/backend/admin/app.py
  backend/src/backend/admin/auth.py
  backend/src/backend/admin/views/user.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/apps/users/graphql/types.py
  backend/src/backend/graphql/controller.py
  backend/src/backend/graphql/schema.py
Due: backend-code-quality

Improve stuff
  backend/src/backend/graphql/controller.py
Due: backend-code-quality

Improve comments
  backend/pyproject.toml
Due: backend-code-quality

Improve rules
  .cursor/rules/python/RULE.md
Due: none

feat: improve ruff configuration (#47)
  .cursor/rules/python/RULE.md
  .pre-commit-config.yaml
  Taskfile.yml
  backend/Taskfile.yml
  backend/migrations/env.py
  backend/pyproject.toml
  backend/src/backend/__init__.py
  backend/src/backend/admin/app.py
  backend/src/backend/admin/auth.py
  backend/src/backend/admin/views/user.py
  backend/src/backend/apps/users/graphql/__init__.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/apps/users/graphql/types.py
  backend/src/backend/graphql/controller.py
  backend/src/backend/graphql/schema.py
  backend/src/backend/scripts/create_admin_user.py
  backend/tests/conftest.py
Due: backend-code-quality

Avoid running two language servers
  .vscode/settings.json
Due: none

Add more tooling
  README.md
Due: none

Improve DX
  README.md
Due: none

Improve README
  README.md
Due: none

Path conditions:
  backend-code-quality: any of: ^backend/
  frontend-code-quality: any of: ^frontend/
