Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, frontend-code-quality

backend-code-quality:
  name: 'backend: code quality'
  entry: task backend:lint:fix backend:format
  language: system
  pass_filenames: false

frontend-code-quality:
  name: 'frontend: code quality'
  entry: task frontend:check
  language: system
  pass_filenames: false

chore: standardize naming for models services in advanced alchemy (#34)
  .cursor/rules/backend-entity/RULE.md
  Taskfile.yml
  backend/Taskfile.yml
  backend/pyproject.toml
  backend/src/backend/app_factory.py
  backend/src/backend/apps/users/services.py
  backend/src/backend/config/alchemy.py
  backend/src/backend/graphql/controller.py
  backend/src/backend/health.py
  backend/tests/conftest.py
  backend/tests/test_admin_smoke.py
  backend/uv.lock
Due: backend-code-quality

Indicate how to registar a model
  .cursor/rules/backend-entity/RULE.md
  backend/src/backend/admin/views/user.py
Due: backend-code-quality

Fix icon issue
  .cursor/rules/backend-entity/RULE.md
  backend/src/backend/admin/views/user.py
Due: backend-code-quality

Update url slug
  .cursor/rules/backend-entity/RULE.md
  backend/src/backend/admin/views/user.py
Due: backend-code-quality

fix: Improve model admin registration (#35)
  .cursor/rules/backend-entity/RULE.md
  backend/src/backend/admin/views/user.py
Due: backend-code-quality

Avoid editing created/updated fields
  .cursor/rules/backend-entity/RULE.md
  backend/src/backend/admin/views/user.py
Due: backend-code-quality

Simplify database for testing
  backend/src/backend/config/base.py
  compose.yaml
  postgres-init/init.sql
Due: backend-code-quality

Remove references
  .env.example
  .github/workflows/ci.yml
Due: none

Add step for testing database
  .github/workflows/ci.yml
Due: none

chore: improve selection of dev and test database (#36)
  .env.example
  .github/workflows/ci.yml
  backend/src/backend/config/base.py
  compose.yaml
  postgres-init/init.sql
Due: backend-code-quality

Create mixin
  backend/src/backend/apps/mixins.py
Due: backend-code-quality

Define initial user model
  backend/migrations/versions/2025-12-21_initial_user_model_5c9d7140c62b.py
  backend/src/backend/admin/auth.py
  backend/src/backend/apps/mixins.py
  backend/src/backend/apps/users/models.py
Due: backend-code-quality

Improve user model
  backend/src/backend/admin/app.py
  backend/src/backend/admin/auth.py
  backend/src/backend/admin/views/user.py
Due: backend-code-quality

Remove quotes
  backend/migrations/versions/2025-12-21_initial_user_model_5c9d7140c62b.py
Due: backend-code-quality

Remove docstring
  backend/src/backend/apps/mixins.py
Due: backend-code-quality

feat: improve user model (#37)
  backend/migrations/versions/2025-12-21_initial_user_model_5c9d7140c62b.py
  backend/src/backend/admin/app.py
  backend/src/backend/admin/auth.py
  backend/src/backend/admin/views/user.py
  backend/src/backend/apps/mixins.py
  backend/src/backend/apps/users/models.py
Due: backend-code-quality

Add workflo to test storybook
  .github/workflows/README.md
  .github/workflows/ci.yml
Due: none

Remove needless dependency
  .github/workflows/ci.yml
Due: none

Update playwright
  .github/workflows/ci.yml
Due: none

Change image
  .github/workflows/ci.yml
Due: none

Group common steps for frontend setup
  .github/actions/frontend-setup/action.yml
  .github/workflows/ci.yml
Due: none

Add improvements
  .github/actions/backend-setup/action.yml
  .github/actions/frontend-setup/action.yml
  .github/workflows/ci.yml
Due: none

Update tool versions
  .github/actions/backend-setup/action.yml
  .github/actions/frontend-setup/action.yml
Due: none

Cache and checkout versions
  .github/actions/frontend-setup/action.yml
  .github/workflows/ci.yml
Due: none

chore: Add workflow to test storybook (#38)
  .github/actions/backend-setup/action.yml
  .github/actions/frontend-setup/action.yml
  .github/workflows/README.md
  .github/workflows/ci.yml
Due: none

Create dependabot action
  .github/dependabot.yml
Due: none

Create dependabot action (#39)
  .github/dependabot.yml
Due: none

Remove needless __all__
  backend/src/backend/apps/models.py
Due: backend-code-quality

Use relative imports
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/apps/users/graphql/types.py
Due: backend-code-quality

Move schema inside graphql
  backend/src/backend/graphql/controller.py
  backend/src/backend/graphql/schema.py
Due: backend-code-quality

Use relative imports
  backend/src/backend/admin/app.py
  backend/src/backend/admin/auth.py
  backend/src/backend/admin/views/user.py
Due: backend-code-quality

Fix command
  backend/Taskfile.yml
Due: backend-code-quality

Fix command
  .github/workflows/ci.yml
Due: none

Simplify app creation
  backend/Taskfile.yml
  backend/src/backend/__init__.py
  backend/src/backend/application.py
  backend/tests/conftest.py
  backend/tests/test_admin_smoke.py
  docs/deployment.md
Due: backend-code-quality

chore: more improvements on backend structure (#43)
  .github/workflows/ci.yml
  backend/Taskfile.yml
  backend/src/backend/__init__.py
  backend/src/backend/admin/app.py
  backend/src/backend/admin/auth.py
  backend/src/backend/admin/views/user.py
  backend/src/backend/application.py
  backend/src/backend/apps/models.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/apps/users/graphql/types.py
  backend/src/backend/graphql/controller.py
  backend/src/backend/graphql/schema.py
  backend/tests/conftest.py
  backend/tests/test_admin_smoke.py
  docs/deployment.md
Due: backend-code-quality

Use apollo/client-integration-nextjs
  .cursor/rules/typescript/RULE.md
  frontend/src/lib/ApolloClientProvider.client.tsx
  frontend/src/lib/apolloClient.server.ts
  frontend/src/lib/apolloClient.ts
Due: frontend-code-quality

Standardize graphql calling
  .cursor/rules/typescript/RULE.md
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/components/UserProfile/UserCard.client.tsx
Due: frontend-code-quality

Add example for mutation
  backend/src/backend/application.py
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/components/UserProfile/CreateUser.graphql
  frontend/src/components/UserProfile/UserCreator.client.tsx
Due: backend-code-quality, frontend-code-quality

Minor improvemetns
  .cursor/rules/typescript/RULE.md
  backend/.env.example
  backend/src/backend/application.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/config/base.py
  frontend/src/components/UserProfile/UserCard.client.tsx
  frontend/src/components/UserProfile/UserCreator.client.tsx
Due: backend-code-quality, frontend-code-quality

Add improvement
  frontend/__tests__/setup.tsx
Due: frontend-code-quality

Path conditions:
  backend-code-quality: any of: ^backend/
  frontend-code-quality: any of: ^frontend/
