Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, frontend-code-quality

backend-code-quality:
  name: 'backend: code quality'
  entry: task backend:lint:fix backend:format
  language: system
  pass_filenames: false

frontend-code-quality:
  name: 'frontend: code quality'
  entry: task frontend:check
  language: system
  pass_filenames: false

Update command
  README.md
Due: none

Sort links alphabetically
  README.md
Due: none

chore: use mise to manage toolchain (#26)
  README.md
  mise.toml
Due: none

Add rule first draft
  .cursor/rules/typescript/RULE.md
Due: none

Improvement
  .cursor/rules/typescript/RULE.md
Due: none

Use 5.2 to improve
  .cursor/rules/typescript/RULE.md
Due: none

chore: create a cursor rule for typescript (#27)
  .cursor/rules/typescript/RULE.md
Due: none

Integrate admin tool
  README.md
  backend/.env.example
  backend/README.md
  backend/pyproject.toml
  backend/src/backend/admin/__init__.py
  backend/src/backend/admin/app.py
  backend/src/backend/admin/auth.py
  backend/src/backend/admin/views.py
  backend/src/backend/app_factory.py
  backend/src/backend/config/base.py
  backend/tests/conftest.py
  backend/tests/test_admin_smoke.py
  backend/uv.lock
Due: backend-code-quality

Allow creation
  backend/src/backend/admin/views.py
Due: backend-code-quality

Simplify logic
  backend/src/backend/admin/app.py
  backend/tests/test_admin_smoke.py
Due: backend-code-quality

Sort URL
  README.md
Due: none

Use localhost
  README.md
Due: none

Place URL properly
  backend/README.md
Due: backend-code-quality

Add hit for env variable
  backend/.env.example
Due: backend-code-quality

Make field mandatory
  backend/src/backend/config/base.py
Due: backend-code-quality

Remove rule
  backend/src/backend/admin/auth.py
Due: backend-code-quality

Add improvements
  backend/src/backend/admin/auth.py
Due: backend-code-quality

Remove needless variable
  backend/src/backend/admin/app.py
  backend/src/backend/admin/auth.py
  backend/tests/test_admin_smoke.py
Due: backend-code-quality

More improvement
  backend/src/backend/app_factory.py
Due: backend-code-quality

Minor addition
  backend/src/backend/admin/app.py
Due: backend-code-quality

Adding comments
  backend/src/backend/admin/app.py
Due: backend-code-quality

Remove needless parameter
  backend/src/backend/admin/app.py
Due: backend-code-quality

Remove needless line
  backend/src/backend/admin/app.py
Due: backend-code-quality

Improve comments
  backend/src/backend/admin/app.py
Due: backend-code-quality

Simplify code
  backend/src/backend/admin/app.py
  backend/src/backend/app_factory.py
  backend/tests/test_admin_smoke.py
Due: backend-code-quality

Scale
  backend/src/backend/admin/app.py
  backend/src/backend/admin/views/__init__.py
  backend/src/backend/admin/views/user.py
Due: backend-code-quality

More improvements
  backend/src/backend/admin/app.py
  backend/src/backend/admin/views/__init__.py
  backend/src/backend/admin/views/user.py
Due: backend-code-quality

Minor change
  .github/workflows/ci.yml
  backend/.env.example
Due: backend-code-quality

feat: Integrate admin tool (#28)
  .github/workflows/ci.yml
  README.md
  backend/.env.example
  backend/README.md
  backend/pyproject.toml
  backend/src/backend/admin/__init__.py
  backend/src/backend/admin/app.py
  backend/src/backend/admin/auth.py
  backend/src/backend/admin/views/__init__.py
  backend/src/backend/admin/views/user.py
  backend/src/backend/app_factory.py
  backend/src/backend/config/base.py
  backend/tests/conftest.py
  backend/tests/test_admin_smoke.py
  backend/uv.lock
Due: backend-code-quality

Remove pyrefly
  backend/pyproject.toml
  backend/uv.lock
Due: backend-code-quality

Install ty
  backend/pyproject.toml
  backend/uv.lock
Due: backend-code-quality

Replace ty refernces with ty
  .cursor/rules/backend-boundary/RULE.md
  .cursor/rules/python/RULE.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  backend/README.md
  backend/Taskfile.yml
Due: backend-code-quality

Recommend ty extension
  .vscode/extensions.json
Due: none

Configure ty and fix issues
  backend/pyproject.toml
  backend/src/backend/admin/app.py
Due: backend-code-quality

Improve config
  backend/pyproject.toml
Due: backend-code-quality

Add hooks for type checking
  .pre-commit-config.yaml
Due: none

Fix order
  .pre-commit-config.yaml
Due: none

Order
  .github/workflows/ci.yml
Due: none

feat: replace pyrefly with ty (#29)
  .cursor/rules/backend-boundary/RULE.md
  .cursor/rules/python/RULE.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  backend/README.md
  backend/Taskfile.yml
  backend/pyproject.toml
  backend/src/backend/admin/app.py
  backend/uv.lock
Due: backend-code-quality

Standardize READMEs
  backend/README.md
  frontend/README.md
Due: backend-code-quality, frontend-code-quality

Path conditions:
  backend-code-quality: any of: ^backend/
  frontend-code-quality: any of: ^frontend/
