Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, backend-typecheck, frontend-code-quality, frontend-typecheck

backend-code-quality:
  name: 'backend: code quality'
  entry: task backend:check
  language: system
  pass_filenames: false

backend-typecheck:
  name: 'backend: type check'
  entry: task backend:typecheck
  language: system
  pass_filenames: false

frontend-code-quality:
  name: 'frontend: code quality'
  entry: task frontend:check
  language: system
  pass_filenames: false

frontend-typecheck:
  name: 'frontend: type check'
  entry: task frontend:check:types
  language: system
  pass_filenames: false

feat(template-prune): remove swiftui skill in no-ios profile
  scripts/template-prune/profiles/no-ios.sh
  scripts/template-prune/validate.sh
Due: none

fix(template-prune): harden no-ios regex cleanup and validation
  scripts/template-prune/common.sh
  scripts/template-prune/profiles/no-ios.sh
  scripts/template-prune/validate.sh
Due: none

chore(template-prune): split taskfiles and harden no-ios cleanup (#177)
  Taskfile.template.yml
  Taskfile.yml
  scripts/template-prune/common.sh
  scripts/template-prune/profiles/no-ios.sh
  scripts/template-prune/templates/rest-only/Taskfile.yml
  scripts/template-prune/validate.sh
Due: none

chore: standardize migration task naming for NOVA-120
  .github/instructions/backend.instructions.md
  Taskfile.yml
  backend/Taskfile.yml
  scripts/template-prune/templates/rest-only/README.md
  scripts/template-prune/templates/rest-only/Taskfile.yml
  scripts/template-prune/templates/rest-only/backend/Taskfile.yml
  scripts/template-prune/templates/rest-only/setup.sh
  setup.sh
Due: backend-code-quality, backend-typecheck

chore: standardize migration task naming for NOVA-120 (#178)
  .github/instructions/backend.instructions.md
  Taskfile.yml
  backend/Taskfile.yml
  scripts/template-prune/templates/rest-only/README.md
  scripts/template-prune/templates/rest-only/Taskfile.yml
  scripts/template-prune/templates/rest-only/backend/Taskfile.yml
  scripts/template-prune/templates/rest-only/setup.sh
  setup.sh
Due: backend-code-quality, backend-typecheck

fix: add contents read permission to pr validation
  .github/workflows/pr-validation.yml
Due: none

fix: add contents read permission to pr validation (#179)
  .github/workflows/pr-validation.yml
Due: none

fix: scrub graphql references in no-graphql prune
  scripts/template-prune/profiles/no-graphql.sh
  scripts/template-prune/validate.sh
Due: none

fix: scrub graphql references in no-graphql prune (#180)
  scripts/template-prune/profiles/no-graphql.sh
  scripts/template-prune/validate.sh
Due: none

chore(frontend): update frontend dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-code-quality, frontend-typecheck

chore(frontend): align biome schema with cli
  frontend/biome.json
Due: frontend-code-quality, frontend-typecheck

ci: raise PR size threshold to 1000
  .github/workflows/README.md
  .github/workflows/pr-validation.yml
Due: none

chore(frontend): update frontend dependencies (#181)
  .github/workflows/README.md
  .github/workflows/pr-validation.yml
  frontend/biome.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-code-quality, frontend-typecheck

chore: add immediate DX dependencies for NOVA-114
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend-code-quality, backend-typecheck, frontend-code-quality, frontend-typecheck

feat: wire msw, storybook a11y, and backend audit tasks
  .github/workflows/ci.yml
  Taskfile.yml
  backend/Taskfile.yml
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/Taskfile.yml
  frontend/__tests__/setup.tsx
  frontend/public/mockServiceWorker.js
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/server.ts
  frontend/vitest.storybook.workspace.ts
Due: backend-code-quality, backend-typecheck, frontend-code-quality, frontend-typecheck

chore: patch transitive vulns and enforce audit in CI
  .github/workflows/ci.yml
  backend/uv.lock
Due: backend-code-quality, backend-typecheck

test: isolate backend test DB per xdist worker
  backend/tests/apps/users/rest/conftest.py
  backend/tests/auth/test_jwt.py
  backend/tests/conftest.py
Due: backend-code-quality, backend-typecheck

chore: add backend parallel test task commands
  Taskfile.yml
  backend/Taskfile.yml
Due: backend-code-quality, backend-typecheck

chore: remove legacy static test database initialization
  .github/workflows/ci.yml
  compose.yaml
  db/init.sql
  scripts/template-prune/templates/rest-only/compose.yaml
Due: none

refactor: remove postgres_test_db setting and align test DB naming
  .github/workflows/ci.yml
  backend/src/backend/config/base.py
  backend/tests/conftest.py
  scripts/template-prune/templates/no-graphql/backend/src/backend/config/base.py
  scripts/template-prune/templates/no-graphql/backend/tests/conftest.py
  scripts/template-prune/templates/rest-only/backend/src/backend/config/base.py
  scripts/template-prune/templates/rest-only/backend/tests/conftest.py
Due: backend-code-quality, backend-typecheck

chore: improve DX tooling and stabilize parallel backend tests (#182)
  .github/workflows/ci.yml
  Taskfile.yml
  backend/Taskfile.yml
  backend/pyproject.toml
  backend/src/backend/config/base.py
  backend/tests/apps/users/rest/conftest.py
  backend/tests/auth/test_jwt.py
  backend/tests/conftest.py
  backend/uv.lock
  compose.yaml
  db/init.sql
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/Taskfile.yml
  frontend/__tests__/setup.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/mockServiceWorker.js
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/server.ts
  frontend/vitest.storybook.workspace.ts
  scripts/template-prune/templates/no-graphql/backend/src/backend/config/base.py
  scripts/template-prune/templates/no-graphql/backend/tests/conftest.py
  scripts/template-prune/templates/rest-only/backend/src/backend/config/base.py
  scripts/template-prune/templates/rest-only/backend/tests/conftest.py
  scripts/template-prune/templates/rest-only/compose.yaml
Due: backend-code-quality, backend-typecheck, frontend-code-quality, frontend-typecheck

chore: add backend and full-stack validate tasks
  README.md
  Taskfile.yml
  backend/Taskfile.yml
Due: backend-code-quality, backend-typecheck

fix: make worktree infra and celery redis wiring deterministic
  .env.example
  README.md
  Taskfile.yml
  compose.yaml
Due: none

chore: remove static port defaults from env examples
  .env.example
  backend/.env.example
Due: backend-code-quality, backend-typecheck

chore(skills): add litestar and advanced-alchemy skills
  .agents/skills/advanced-alchemy/SKILL.md
  .agents/skills/litestar/SKILL.md
  backend/AGENTS.md
Due: backend-code-quality, backend-typecheck

refactor(users): centralize auth and profile workflows in service
  backend/src/backend/apps/users/controllers.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/services.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/tests/conftest.py
Due: backend-code-quality, backend-typecheck

refactor(backend): centralize user workflows and add backend skills (#184)
  .agents/skills/advanced-alchemy/SKILL.md
  .agents/skills/litestar/SKILL.md
  backend/AGENTS.md
  backend/src/backend/apps/users/controllers.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/services.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/tests/conftest.py
Due: backend-code-quality, backend-typecheck

docs(prompts): add remove-ios decommission workflow
  .github/copilot-instructions.md
  .github/prompts/remove-ios.prompt.md
Due: none

docs(prompts): add remove-graphql decommission workflow
  .github/copilot-instructions.md
  .github/prompts/remove-graphql.prompt.md
Due: none

docs(prompts): add iOS and GraphQL decommission workflows (#185)
  .github/copilot-instructions.md
  .github/prompts/remove-graphql.prompt.md
  .github/prompts/remove-ios.prompt.md
Due: none

docs(prompts): tighten remove-graphql decommission scope
  .github/prompts/remove-graphql.prompt.md
Due: none

docs(prompts): tighten remove-graphql decommission scope (#186)
  .github/prompts/remove-graphql.prompt.md
Due: none

feat(frontend): add core pwa support
  frontend/README.md
  frontend/e2e/home.spec.ts
  frontend/next.config.ts
  frontend/public/sw.js
  frontend/src/app/layout.tsx
  frontend/src/app/manifest.test.ts
  frontend/src/app/manifest.ts
  frontend/src/components/pwa/ServiceWorkerRegistration.client.tsx
Due: frontend-code-quality, frontend-typecheck

feat(frontend): add core pwa support (#187)
  frontend/README.md
  frontend/e2e/home.spec.ts
  frontend/next.config.ts
  frontend/public/sw.js
  frontend/src/app/layout.tsx
  frontend/src/app/manifest.test.ts
  frontend/src/app/manifest.ts
  frontend/src/components/pwa/ServiceWorkerRegistration.client.tsx
Due: frontend-code-quality, frontend-typecheck

chore: update backend dependency minimum versions
  backend/pyproject.toml
  backend/uv.lock
Due: backend-code-quality, backend-typecheck

chore: update backend dependency minimum versions (#188)
  backend/pyproject.toml
  backend/uv.lock
Due: backend-code-quality, backend-typecheck

Path conditions:
  backend-code-quality: any of: ^backend/
  backend-typecheck: any of: ^backend/
  frontend-code-quality: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
