Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, frontend-code-quality

backend-code-quality:
  name: 'backend: code quality'
  entry: task backend:lint:fix backend:format
  language: system
  pass_filenames: false

frontend-code-quality:
  name: 'frontend: code quality'
  entry: task frontend:check
  language: system
  pass_filenames: false

Remove references to other task files
  Taskfile.yml
  dev.sh
Due: none

Complete script
  dev.sh
Due: none

feat: implement script to setup project on one command (#50)
  README.md
  Taskfile.yml
  backend/Taskfile.yml
  compose.yaml
  dev.sh
  mise.toml
  mprocs.yaml
Due: backend-code-quality

Minor tweaks
  .gitignore
  Taskfile.yml
  dev.sh
Due: none

Minor tweaks for one step setup command (#51)
  .gitignore
  Taskfile.yml
  dev.sh
Due: none

Skip the interactive prompts in mise
  README.md
  dev.sh
Due: none

Install jwt
  backend/pyproject.toml
  backend/uv.lock
Due: backend-code-quality

Add jwt infra (first attempt)
  backend/src/backend/application.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/types.py
  backend/src/backend/auth/__init__.py
  backend/src/backend/auth/jwt.py
  backend/src/backend/config/base.py
  backend/src/backend/graphql/controller.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/tests/conftest.py
  backend/tests/test_admin_smoke.py
Due: backend-code-quality

Export schema
  backend/src/backend/auth/jwt.py
  frontend/schema/schema.graphql
Due: backend-code-quality, frontend-code-quality

Remove needless docstring
  backend/src/backend/auth/__init__.py
Due: backend-code-quality

Add flexibility to tests
  Taskfile.yml
  backend/Taskfile.yml
Due: backend-code-quality

Add flexibility to tests (#53)
  Taskfile.yml
  backend/Taskfile.yml
Due: backend-code-quality

Simplify type
  backend/src/backend/graphql/controller.py
Due: backend-code-quality

feat: add GraphQL context and services for user management
  backend/src/backend/graphql/context.py
Due: backend-code-quality

refactor: update user mutation to utilize GraphQL context and services
  backend/src/backend/apps/users/graphql/mutations.py
Due: backend-code-quality

refactor: update user query to use GraphQL context for service access
  backend/src/backend/apps/users/graphql/queries.py
Due: backend-code-quality

refactor: streamline GraphQL context to include services and update tests accordingly
  backend/src/backend/graphql/controller.py
  backend/tests/conftest.py
  backend/tests/test_admin_smoke.py
Due: backend-code-quality

Improve typing
  backend/src/backend/graphql/controller.py
Due: backend-code-quality

chore: generalize services graphql context and simplify type (#54)
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/graphql/context.py
  backend/src/backend/graphql/controller.py
  backend/tests/conftest.py
  backend/tests/test_admin_smoke.py
Due: backend-code-quality

Simplify env for JWT setup
  backend/.env.example
  backend/src/backend/config/base.py
Due: backend-code-quality

Improve setup
  backend/src/backend/auth/jwt.py
Due: backend-code-quality

Simplify logic
  backend/src/backend/auth/jwt.py
Due: backend-code-quality

Fix issue
  .cursor/rules/backend-entity/RULE.md
  backend/src/backend/apps/users/graphql/mutations.py
Due: backend-code-quality

Fix ci
  .github/workflows/ci.yml
Due: none

Remove redundancy
  backend/src/backend/apps/users/graphql/mutations.py
Due: backend-code-quality

Remov unused parameter
  backend/src/backend/graphql/controller.py
Due: backend-code-quality

feat: implement jwt infrastructure (#52)
  .cursor/rules/backend-entity/RULE.md
  .github/workflows/ci.yml
  backend/.env.example
  backend/pyproject.toml
  backend/src/backend/application.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/types.py
  backend/src/backend/auth/__init__.py
  backend/src/backend/auth/jwt.py
  backend/src/backend/config/base.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/uv.lock
  frontend/schema/schema.graphql
Due: backend-code-quality, frontend-code-quality

Improve UI and add registration (first attempt)
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/graphql/context.py
  backend/src/backend/graphql/controller.py
  backend/src/backend/graphql/permissions.py
  backend/tests/apps/users/graphql/test_queries.py
  backend/tests/conftest.py
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/features/auth/Login.graphql
  frontend/src/features/auth/LoginForm.tsx
  frontend/src/features/auth/RegisterForm.tsx
  frontend/src/lib/apollo/provider.client.tsx
Due: backend-code-quality, frontend-code-quality

Fix broken tests
  frontend/src/app/page.test.tsx
Due: frontend-code-quality

Increase number of new lines
  .github/workflows/pr-validation.yml
Due: none

Add button to home page
  frontend/src/app/login/page.tsx
  frontend/src/app/register/page.tsx
Due: frontend-code-quality

Minor tweaks
  frontend/src/lib/apollo/provider.client.tsx
Due: frontend-code-quality

Remore needless await async
  frontend/src/lib/apollo/provider.client.tsx
Due: frontend-code-quality

Remove needless comments
  frontend/src/lib/apollo/provider.client.tsx
Due: frontend-code-quality

Update fixture
  backend/tests/apps/users/graphql/test_queries.py
  backend/tests/conftest.py
Due: backend-code-quality

Minor changes
  backend/tests/apps/users/graphql/test_queries.py
Due: backend-code-quality

Needless comment
  frontend/src/app/page.test.tsx
Due: frontend-code-quality

x
  frontend/src/app/page.test.tsx
Due: frontend-code-quality

Improve UI
  frontend/src/app/page.tsx
  frontend/src/features/users/UserCard.client.tsx
Due: frontend-code-quality

Add test to show conditional rendering
  frontend/src/features/users/UserCard.client.tsx
Due: frontend-code-quality

Path conditions:
  backend-code-quality: any of: ^backend/
  frontend-code-quality: any of: ^frontend/
