Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: task-backend, task-frontend

task-backend:
  name: task backend (ruff)
  entry: task backend:lint:fix backend:format
  language: system
  pass_filenames: false

task-frontend:
  name: task frontend (biome)
  entry: task frontend:check
  language: system
  pass_filenames: false

Fix some issues
  .vscode/settings.json
  frontend/__tests__/setup.tsx
  frontend/biome.json
  frontend/package.json
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/lib/ApolloClientProvider.client.tsx
  frontend/src/stories/Button.tsx
  frontend/src/stories/Header.tsx
  frontend/vitest.storybook.workspace.ts
Due: task-frontend

Do not activate venv
  .vscode/settings.json
Due: none

Remove needless line
  .vscode/settings.json
Due: none

Remove configuration that was not valid
  .vscode/settings.json
Due: none

Improve naming
  .pre-commit-config.yaml
Due: none

Fix yaml issue
  frontend/Taskfile.yml
Due: task-frontend

chore: Get rid workspace (#20)
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  backend/.vscode/settings.json
  frontend/.vscode/settings.json
  frontend/Taskfile.yml
  frontend/__tests__/setup.tsx
  frontend/biome.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/lib/ApolloClientProvider.client.tsx
  frontend/src/stories/Button.tsx
  frontend/src/stories/Header.tsx
  frontend/vitest.storybook.workspace.ts
  nova.code-workspace
Due: task-backend, task-frontend

Update dependencies
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/page.test.tsx
  frontend/src/lib/ApolloClientProvider.client.tsx
  frontend/src/lib/apolloClient.server.ts
  frontend/src/lib/apolloClient.ts
  frontend/src/stories/Page.tsx
  frontend/tsconfig.json
  frontend/vitest.config.ts
Due: task-frontend

Update to latest versions
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: task-frontend

More updates
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/src/stories/Page.stories.ts
  frontend/tsconfig.json
  frontend/vitest.config.ts
Due: task-frontend

More updates
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/tsconfig.json
Due: task-frontend

Another attempt
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: task-frontend

Complete upgrade
  frontend/.storybook/main.ts
  frontend/.storybook/vitest.setup.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/stories/Button.stories.ts
  frontend/src/stories/Header.stories.ts
  frontend/src/stories/Page.stories.ts
  frontend/vitest.storybook.workspace.ts
Due: task-frontend

Final update
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: task-frontend

Remove needless ignore
  frontend/src/app/page.test.tsx
Due: task-frontend

Remove eslint
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vitest.config.ts
Due: task-frontend

Remove from vscode settings eslint
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Remove playwright from exclusion TS
  frontend/tsconfig.json
Due: task-frontend

Remove noisy comments
  frontend/playwright.config.ts
Due: task-frontend

Improve and simplify configuration
  frontend/playwright.config.ts
Due: task-frontend

Remove needless config
  frontend/vitest.config.ts
Due: task-frontend

Simplify configuration
  frontend/tsconfig.json
  frontend/vitest.config.ts
Due: task-frontend

Add @vitejs/plugin-react to dependencies and update vitest configuration
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vitest.config.ts
Due: task-frontend

Improve types for test
  frontend/.storybook/vitest.setup.ts
  frontend/__tests__/setup.tsx
  frontend/__tests__/sum.test.ts
  frontend/src/app/page.test.tsx
  frontend/tsconfig.json
  frontend/vitest-globals.d.ts
Due: task-frontend

Add globals
  frontend/vitest.storybook.workspace.ts
Due: task-frontend

Update packageManager version in package.json to pnpm@10.26.0
  frontend/package.json
Due: task-frontend

Update node versions and docs
  .cursor/rules/frontend-boundary/RULE.md
  .github/workflows/ci.yml
  .node-version
  .nvmrc
  README.md
  frontend/README.md
  frontend/package.json
Due: task-frontend

Improve package.json
  .github/workflows/ci.yml
  frontend/.storybook/main.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: task-frontend

Implement tasks
  Taskfile.yml
  frontend/Taskfile.yml
Due: task-frontend

Improve script order
  .github/workflows/ci.yml
  Taskfile.yml
  frontend/Taskfile.yml
  frontend/package.json
Due: task-frontend

Improve validate script
  frontend/package.json
Due: task-frontend

Improve exclusion of files
  .github/workflows/pr-validation.yml
Due: none

chore: Update frontend dependencies (#21)
  .cursor/rules/frontend-boundary/RULE.md
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .node-version
  .nvmrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  Taskfile.yml
  frontend/.storybook/main.ts
  frontend/.storybook/vitest.setup.ts
  frontend/README.md
  frontend/Taskfile.yml
  frontend/__tests__/setup.tsx
  frontend/__tests__/sum.test.ts
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/app/page.test.tsx
  frontend/src/lib/ApolloClientProvider.client.tsx
  frontend/src/lib/apolloClient.server.ts
  frontend/src/lib/apolloClient.ts
  frontend/src/stories/Button.stories.ts
  frontend/src/stories/Header.stories.ts
  frontend/src/stories/Page.stories.ts
  frontend/src/stories/Page.tsx
  frontend/tsconfig.json
  frontend/vitest-globals.d.ts
  frontend/vitest.config.ts
  frontend/vitest.storybook.workspace.ts
Due: task-frontend

Minor tweak to fix build using task
  frontend/Taskfile.yml
Due: task-frontend

Install advanced alchemy
  backend/pyproject.toml
  backend/uv.lock
Due: task-backend

Migration piccolo -> advanced alchemy
  .cursor/rules/backend-boundary/RULE.md
  .cursor/rules/graphql-contract/RULE.md
  README.md
  Taskfile.yml
  backend/README.md
  backend/Taskfile.yml
  backend/alembic.ini
  backend/migrations/README
  backend/migrations/__init__.py
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/2025-12-19_initial_user_model_71cfbdad2d2d.py
  backend/migrations/versions/__init__.py
  backend/pyproject.toml
  backend/src/backend/__init__.py
  backend/src/backend/admin_auth.py
  backend/src/backend/apps/users/graphql/inputs.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/apps/users/graphql/types.py
  backend/src/backend/apps/users/models.py
  backend/src/backend/apps/users/services.py
  backend/src/backend/config/alchemy.py
  backend/src/backend/config/base.py
  backend/src/backend/config/piccolo.py
  backend/src/backend/config/piccolo_test.py
  backend/src/backend/db.py
  backend/src/backend/scripts/create_admin_user.py
  backend/src/backend/security/passwords.py
  backend/src/backend/sqladmin_app.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/tests/apps/users/graphql/test_queries.py
  backend/tests/conftest.py
  backend/tests/test_user.py
  backend/uv.lock
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/components/UserProfile/GetUserById.graphql
Due: task-backend, task-frontend

Fix typechecker issues
  backend/src/backend/__init__.py
Due: task-backend

Create Python rule
  .cursor/rules/python.mdc
Due: none

Implement python rule
  .cursor/rules/python/RULE.md
Due: none

Remove leftovers of piccolo
  .github/workflows/ci.yml
  backend/.env.example
Due: task-backend

Path conditions:
  task-backend: any of: ^backend/
  task-frontend: any of: ^frontend/
