Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, frontend-code-quality

backend-code-quality:
  name: 'backend: code quality'
  entry: task backend:lint:fix backend:format
  language: system
  pass_filenames: false

frontend-code-quality:
  name: 'frontend: code quality'
  entry: task frontend:check
  language: system
  pass_filenames: false

Fix indentation
  README.md
  backend/pyproject.toml
Due: backend-code-quality

Fix broken link
  README.md
Due: none

Fix indentation of list items
  README.md
Due: none

Remove needless note
  README.md
Due: none

Remove needless url
  README.md
Due: none

Add link to file
  README.md
Due: none

Improve wording
  README.md
Due: none

feat: improve ty configuration and miscellaneous tweaks(#48)
  .vscode/settings.json
  README.md
  backend/pyproject.toml
Due: backend-code-quality

Sort commands
  frontend/package.json
Due: frontend-code-quality

Rename and reorganize tasks
  .cursor/rules/backend-boundary/RULE.md
  .cursor/rules/guardrails/RULE.md
  .cursor/rules/python/RULE.md
  Taskfile.yml
  backend/Taskfile.yml
Due: backend-code-quality

Use defaults of next.js new config
  frontend/pnpm-workspace.yaml
Due: frontend-code-quality

Simplify config
  frontend/postcss.config.mjs
Due: frontend-code-quality

Implement not-found page
  frontend/src/app/not-found.tsx
Due: frontend-code-quality

chore: minor frontend improvements from Next.js docs (#49)
  .cursor/rules/backend-boundary/RULE.md
  .cursor/rules/guardrails/RULE.md
  .cursor/rules/python/RULE.md
  Taskfile.yml
  backend/Taskfile.yml
  frontend/package.json
  frontend/pnpm-workspace.yaml
  frontend/postcss.config.mjs
  frontend/src/app/not-found.tsx
Due: backend-code-quality, frontend-code-quality

Add mprocs to dependencies
  mise.toml
Due: none

Use mprocs to handle processes
  mprocs.yaml
Due: none

Improve scriptI
  backend/Taskfile.yml
Due: backend-code-quality

Implement one command script
  README.md
  dev.sh
  mprocs.yaml
Due: none

Second improvement
  README.md
  Taskfile.yml
  dev.sh
Due: none

Complete automation
  README.md
  dev.sh
Due: none

Better infor
  README.md
  mprocs.yaml
Due: none

Remove needless
  README.md
Due: none

Improve
  README.md
Due: none

Improve more
  README.md
Due: none

Remove redundancy
  README.md
Due: none

more
  README.md
Due: none

Improve db service
  Taskfile.yml
  dev.sh
Due: none

Remove
  README.md
Due: none

Simplify script
  dev.sh
Due: none

Redundant
  dev.sh
Due: none

more
  dev.sh
Due: none

Improvements
  compose.yaml
  dev.sh
Due: none

Modify
  compose.yaml
Due: none

More improvement
  Taskfile.yml
  dev.sh
Due: none

more
  Taskfile.yml
Due: none

Improve
  dev.sh
Due: none

Path conditions:
  backend-code-quality: any of: ^backend/
  frontend-code-quality: any of: ^frontend/
