Repository lmiguelvargasf/nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-code-quality, frontend-code-quality

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: backend-code-quality
        name: "backend: code quality"
        entry: task backend:lint:fix backend:format
        language: system
        pass_filenames: false
        files: ^backend/

      - id: frontend-code-quality
        name: "frontend: code quality"
        entry: task frontend:check
        language: system
        pass_filenames: false
        files: ^frontend/

improve
  frontend/src/app/page.tsx
Due: frontend-code-quality

Fix broken test
  frontend/src/app/page.test.tsx
Due: frontend-code-quality

Fix
  frontend/src/features/auth/LoginForm.tsx
Due: frontend-code-quality

improve ux
  backend/src/backend/apps/users/graphql/mutations.py
  frontend/schema/schema.graphql
  frontend/src/features/auth/RegisterForm.tsx
  frontend/src/features/users/CreateUser.graphql
  frontend/src/features/users/UserCreator.client.tsx
Due: backend-code-quality, frontend-code-quality

Fix broken tests
  backend/tests/apps/users/graphql/test_mutations.py
Due: backend-code-quality

feat: Implement login and registration using GraphQL (#55)
  .github/workflows/pr-validation.yml
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/src/backend/graphql/context.py
  backend/src/backend/graphql/controller.py
  backend/src/backend/graphql/permissions.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/tests/apps/users/graphql/test_queries.py
  backend/tests/conftest.py
  frontend/schema/schema.graphql
  frontend/src/app/login/page.tsx
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/features/auth/Login.graphql
  frontend/src/features/auth/LoginForm.tsx
  frontend/src/features/auth/RegisterForm.tsx
  frontend/src/features/users/CreateUser.graphql
  frontend/src/features/users/UserCard.client.tsx
  frontend/src/features/users/UserCreator.client.tsx
  frontend/src/lib/apollo/provider.client.tsx
Due: backend-code-quality, frontend-code-quality

Implement rate limit and max length
  backend/.env.example
  backend/src/backend/application.py
  backend/src/backend/config/base.py
  backend/src/backend/graphql/schema.py
  backend/src/backend/middleware/__init__.py
  backend/src/backend/middleware/rate_limit.py
Due: backend-code-quality

Remove needless commentb
  backend/src/backend/middleware/__init__.py
Due: backend-code-quality

Improve middleware setup
  backend/src/backend/application.py
  backend/src/backend/middleware/rate_limit.py
Due: backend-code-quality

Minor refactor
  backend/src/backend/middleware/rate_limit.py
Due: backend-code-quality

Add testing
  backend/tests/test_security.py
Due: backend-code-quality

feat: Implement rate limit and max length (#56)
  backend/.env.example
  backend/src/backend/application.py
  backend/src/backend/config/base.py
  backend/src/backend/graphql/schema.py
  backend/src/backend/middleware/__init__.py
  backend/src/backend/middleware/rate_limit.py
  backend/tests/test_security.py
Due: backend-code-quality

Renaming
  compose.yaml
  db/init.sql
Due: none

Remove usage of mprocs
  README.md
  dev.sh
  mise.toml
  mprocs.yaml
Due: none

Minor tweaks
  Taskfile.yml
  dev.sh
Due: none

Remove needless info
  README.md
Due: none

Rename file
  README.md
  setup.sh
Due: none

Update template
  README.md
Due: none

chore: Install and start scripts (#57)
  README.md
  Taskfile.yml
  compose.yaml
  db/init.sql
  mise.toml
  mprocs.yaml
  setup.sh
Due: none

Simplify setup
  setup.sh
Due: none

Improve setup
  Taskfile.yml
  setup.sh
Due: none

Improve tasks config
  .vscode/tasks.json
Due: none

Fix format
  .vscode/tasks.json
Due: none

Minor improvements
  .vscode/tasks.json
Due: none

Fix testing integration
  .gitignore
  .vscode/settings.json
  setup.sh
Due: none

Remove logs from mprocs
  .gitignore
Due: none

Improve
  setup.sh
Due: none

Fix frontend tests
  .vscode/extensions.json
  .vscode/settings.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-code-quality

Finish set up
  .vscode/settings.json
Due: none

Reformat
  .vscode/settings.json
Due: none

Add comment
  .gitignore
  .vscode/python.env
Due: none

Remove
  .gitignore
  .vscode/python.env
Due: none

chore: setup improvement (#58)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  Taskfile.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  setup.sh
Due: frontend-code-quality

Allow user updating profile
  Taskfile.yml
  backend/src/backend/apps/users/graphql/inputs.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/tests/conftest.py
  frontend/schema/schema.graphql
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/features/users/UpdateCurrentUser.graphql
Due: backend-code-quality, frontend-code-quality

Allow user updating profile (#59)
  Taskfile.yml
  backend/src/backend/apps/users/graphql/inputs.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/tests/apps/users/graphql/test_mutations.py
  backend/tests/conftest.py
  frontend/schema/schema.graphql
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/features/users/UpdateCurrentUser.graphql
Due: backend-code-quality, frontend-code-quality

Implement softdelete mutation
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/types.py
  backend/tests/apps/users/graphql/test_mutations.py
  frontend/schema/schema.graphql
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/ui/ConfirmDialog.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/components/ui/index.ts
  frontend/src/features/auth/Login.graphql
  frontend/src/features/auth/LoginForm.tsx
  frontend/src/features/users/SoftDeleteCurrentUser.graphql
Due: backend-code-quality, frontend-code-quality

Allow user to delete his account (#60)
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/types.py
  backend/tests/apps/users/graphql/test_mutations.py
  frontend/schema/schema.graphql
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/ui/ConfirmDialog.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/components/ui/index.ts
  frontend/src/features/auth/Login.graphql
  frontend/src/features/auth/LoginForm.tsx
  frontend/src/features/users/SoftDeleteCurrentUser.graphql
Due: backend-code-quality, frontend-code-quality

Implement query me
  backend/src/backend/apps/users/graphql/queries.py
  backend/tests/apps/users/graphql/test_queries.py
  frontend/schema/schema.graphql
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/features/users/CurrentUserCard.client.tsx
  frontend/src/features/users/GetMe.graphql
Due: backend-code-quality, frontend-code-quality

Refactor duplicated class
  backend/src/backend/apps/users/graphql/errors.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/queries.py
Due: backend-code-quality

chore: Implement query me (#61)
  backend/src/backend/apps/users/graphql/errors.py
  backend/src/backend/apps/users/graphql/mutations.py
  backend/src/backend/apps/users/graphql/queries.py
  backend/tests/apps/users/graphql/test_queries.py
  frontend/schema/schema.graphql
  frontend/src/app/page.test.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/features/users/CurrentUserCard.client.tsx
  frontend/src/features/users/GetMe.graphql
Due: backend-code-quality, frontend-code-quality
